@{
    ViewData["Title"] = "PageMk";
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Mortal Kombat Project OC: Rise of Leena</title>
    <link rel="icon" type="image/x-icon" href="assets/img/CROMA_BELL_BLANCO.png"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
          rel="stylesheet"/>
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
        rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
    <style>
        .text-justify {
            text-align: justify;
        }
    </style>
</head>

<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="#page-top">Project OC: Rise of Leena</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link me-lg-3" href="#features">Funcionalidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-lg-3" href="#lore">Lore</a>
                </li>
            </ul>
            <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal"
                    data-bs-target="#feedbackModal">
                <span class="d-flex align-items-center">
                    <i class="bi-download  me-2"></i>
                    <span class="small">Descarga el juego!</span>
                </span>
            </button>
        </div>
    </div>
</nav>
<!-- Mashead header-->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Mortal Kombat Project OC: <br>Rise of Leena</h1>
                    <p class="lead fw-normal text-muted mb-5">
                        Juego desarrollado por Bellseboss Studio, basado en el lore de Mortal Kombat era Midway, utilizando el gameplay de Mortal Kombat Shaoling Monks.
                    </p>
                    <!-- <div class="d-flex flex-column flex-lg-row align-items-center">
                        <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="assets/img/google-play-badge.svg" alt="..." /></a>
                        <a href="#!"><img class="app-badge" src="assets/img/app-store-badge.svg" alt="..." /></a>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Masthead device mockup feature-->
                <div class="masthead-device-mockup">
                    <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                <stop class="gradient-start-color" offset="0%"></stop>
                                <stop class="gradient-end-color" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(120.42 -49.88) rotate(45)">
                        </rect>
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(-49.88 120.42) rotate(-45)">
                        </rect>
                    </svg>
                    <svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <div class="device-wrapper">
                        <!-- <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen bg-black">
                            </div>
                        </div> -->
                        <!-- <img class="img-fluid device" src="assets/img/Leena.JPG" alt="..." /> -->
                        <video class="img-fluid device" autoplay loop muted playsinline>
                            <source src="https://github.com/Bellseboss-Studio/backend-deploy-game-node/raw/main/public/assets/videos/IMG_1681.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Quote/testimonial aside-->
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8 row">
                <div class="col-xl-4">
                    <img src="assets/img/Logo2.png" alt="..." class="img-fluid" style="height: 13rem"/>
                </div>
                <div class="col-xl-8 d-none d-md-block" style="
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-content: center;
                ">
                    <div class="h1 fs-1 text-white mb-4 text-center">
                        Bellseboss Studio
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- App features section-->
<section id="features">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-joystick icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Controles</h3>
                                <p class="text-muted mb-0">Adaptado totalmente para controles!</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-star-fill icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Personajes Originales</h3>
                                <p class="text-muted mb-0">
                                    Aqui encontraras a personajes originales que se basan en
                                    el lore de Mortal Kombat, como primer personaje, presentamos a Leena la
                                    Tarkatana!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-people-fill icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">De la comunidad para la comunidad</h3>
                                <p class="text-muted mb-0">
                                    Este juego es un Fan Game, por lo que nunca vamos a
                                    cobrar por el juego
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-arrow-repeat icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Constante actualizacion!</h3>
                                <p class="text-muted mb-0">
                                    Unete a nuestro discord para ser parte del desarrollo y
                                    enterarte de los cambios que se haran en el juego
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0">
                <!-- Features section device mockup-->
                <div class="features-device-mockup">
                    <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                <stop class="gradient-start-color" offset="0%"></stop>
                                <stop class="gradient-end-color" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(120.42 -49.88) rotate(45)">
                        </rect>
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(-49.88 120.42) rotate(-45)">
                        </rect>
                    </svg>
                    <svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <div class="device-wrapper">
                        <!-- <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen bg-black">
                            </div>
                        </div> -->
                        <img class="img-fluid device" src="assets/img/Leena.JPG" alt="..."/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic features section-->
<section id="lore" class="bg-dark">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">Leena la Tarkatana</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0 text-justify">
                    Fue “adoptada” por Hotaru, luchador del orden y perteneciente al mismo Realm. La condición fue
                    convencer a la mayor cantidad posible (usando a Leena como experimento social), de que la
                    voluntad del Seido es definitiva y hasta un Tarkata puede aceptarlo.
                </p>
                <br>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0 text-justify">
                    Durante los siguientes años fue criada y educada en contra de la resistencia, tal como: Darrius,
                    o “indeseables” como Dairou. De hecho ha logrado matar varios de estos, un logro de lo cual se
                    enorgullece... y Hotaru también.
                </p>
                <br>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0 text-justify">
                    A cierto punto en su adultez, llegados los 31 años, su fama de
                    “mascota de Hotaru” en el Orderrealm la obligó a escapar hacia el Outworld (con la previa
                    autorización de su tutor) antes que sea muy tarde.

                </p>
                <br>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0 text-justify">

                    Allá se encontrará con Bo-Rai-Cho, quien ya
                    estaba al tanto de su llegada y contexto personal. Este maestro le seguirá entrenando, a la vez
                    que le sugiere mantener un perfil bajo dentro de ese nuevo Realm.

                </p>
                <br>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0 text-justify">

                    Por otro lado, Li-Mei... otra
                    estudiante del mismo maestro… Forjará una amistad de rivales junto a la Tarkata, a pesar que
                    Li-Mei no está a favor del rey dragón Onaga, en opuesto a las creencias de Leena y Hotaru.

                </p>
                <br>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0 text-justify">

                    Las
                    cosas cambian en un momento indeterminado, cuando Leena se enamora de otro Tarkata, quien
                    resulta ser Baraka. No conoce su historia pasada ni tampoco sus acciones… Pero puede sentir algo
                    verdadero.

                </p>
                <br>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0 text-justify">

                    Al poco tiempo de entablar un romance en secreto… Baraka marcha con su ejército a los
                    eventos de MK Armaggedon. Y sin bastar con eso, horas después de la batalla y casi por
                    coincidencia... Bo- Rai-Cho decide expulsar a Leena, dado que desobedeció la regla de no llamar
                    la atención por el bien de todos. “Hotaru estaría decepcionado” es lo que le dice, antes de no
                    volver a verla. Leena jamás supo quién la delató… Tal vez fue Li-Mei.

                </p>
                <br>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0 text-justify">

                    El juego comienza con ella
                    llegando a Edenia: Buscando a Baraka y esperando retomar el control sobre su propia vida,
                    mientras espera una segunda oportunidad. Esta vez intentando aprender de sus errores para
                    mantener un perfil bajo.
                </p>
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0">
                    <img class="img-fluid" src="assets/img/Leena.JPG" alt="..."/>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action section-->
<section class="cta d-none">
    <div class="cta-content">
        <div class="container px-5">
            <h2 class="text-white display-1 lh-1 mb-4">
                Stop waiting.
                <br/>
                Start building.
            </h2>
            <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="https://startbootstrap.com/theme/new-age"
               target="_blank">
                Download for free
            </a>
        </div>
    </div>
</section>
<!-- App badge section-->
<section class="bg-gradient-primary-to-secondary d-none" id="download">
    <div class="container px-5">
        <h2 class="text-center text-white font-alt mb-4">Descargalo ahora!</h2>
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
            <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal"
                    data-bs-target="#feedbackModal">
                <span class="d-flex align-items-center">
                    <i class="bi-joystick  me-2"></i>
                    <span class="small">Descargar</span>
                </span>
            </button>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            <div class="mb-2">&copy; Bellseboss Studio 2024. All Rights Reserved.</div>
            <!-- <a href="#!">Privacy</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">Terms</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">FAQ</a> -->
        </div>
    </div>
</footer>
<!-- Feedback Modal-->
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary-to-secondary p-4">
                <h5 class="modal-title text-white" id="feedbackModalLabel">
                    Dejanos tu correo para enviarte
                    el juego
                </h5>
                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body border-0 p-4">
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com"
                               data-sb-validations="required,email"/>
                        <label for="email">Correo electronico</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Correo es requerido.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Correo no es valido.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Correo enviado!</div>
                            <br/>
                            Unete a nuestro Discord!
                            <div class="d-flex flex-column flex-lg-row align-items-center">
                                <a class="me-lg-3 mb-4 mb-lg-0" href="https://discord.gg/mUGqqTEbUP" target="_blank">
                                    <img class="app-badge" src="assets/img/full_logo_white_RGB.svg" alt="..."/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3" id="submitErrorMessageMessage">
                            Error enviando el
                            correo, porfavor intentalo de
                            nuevo!
                        </div>
                    </div>
                    <!-- Submit Button-->
                    <div class="d-grid">
                        <button class="btn btn-primary rounded-pill btn-lg disabled"
                                id="submitButton" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
<script src="assets/js/SaveEmail.js"></script>
<script src="assets/js/validateEmail.js"></script>
<script>
        window.addEventListener('load', function() {
            // Your code here
            ConfigEmailValidation();
        });
    </script>
</body>

</html>